In [12]:
import pandas as pd

#đọc dữ liệu, file dữ liệu
data_path = 'C:\\Users\\Qing_Yi99\\codegym\\DAP2308R1\\homework\\'
data_name = 'OnlineRetail.csv'

data=pd.read_csv(data_path + data_name, encoding= 'unicode_escape')

#hiển thị 5 dòng đầu tiên
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [2]:
data.info

<bound method DataFrame.info of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

In [14]:
#Trích xuất dữ liệu các cột Description và Quantity lưu vào file OnlineRetail.csv

data1 = data.iloc[:,2:4]
data1.to_csv('output_OnlineRetail.csv')

In [16]:
#Trích xuất dữ liệu 1000 dòng đầu tiên lưu vào file OnlineRetail.xlsx

data2 = data.iloc[:1000]
data2.to_excel('output_OnlineRetail1000.xlsx')

In [18]:
#Trích xuất các bản ghi có số lượng từ 10 trở lên lưu vào file OnlineRetail.h5

data3 = data.loc[data.Quantity > 10]
data3.to_hdf('output_retailqty.h5','table')

C:\Users\Qing_Yi99\AppData\Local\Temp\ipykernel_6308\3494307976.py:2: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country'], dtype='object')]

  data3.to_hdf('output_retailqty.h5','table')

In [24]:
#Trích xuất dữ liệu các phần tử từ dòng 1000 đến dòng 2000, các cột Quantity, InvoiceDate, UnitPrice lưu vào file OnlineRetail.json
data4 = data.loc[1000:2000,['Quantity','InvoiceDate','UnitPrice']]
data4.to_json('output_OnlineRetail')

In [26]:
# Trích xuất các bản ghi có số hóa đơn ‘536365’ lưu vào file OnlineRetail.html
data5 = data.loc[dataInvoiceNo = '536365']
data5

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (794903195.py, line 2)