In [2]:
import pandas as pd

#đọc dữ liệu, file dữ liệu
data_path = 'C:\\Users\\Qing_Yi99\\codegym\\DAP2308R1\\homework\\'
data_name = 'GDPlist.csv'

data=pd.read_csv(data_path + data_name, encoding= 'unicode_escape')

#hiển thị 5 dòng đầu tiên
data

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [3]:
data.info

<bound method DataFrame.info of           Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]>

In [5]:
#Xác định biến
data_gdp = data.loc[:,'GDP (millions of US$)']

0       18181
1       12847
2      190709
3      100948
4      447644
        ...
120     45353
121    315841
122    122722
123     33675
124     19206
Name: GDP (millions of US$), Length: 125, dtype: int64

In [8]:
#Giá trị lớn nhất
print('Giá trị lớn nhất của GDP là {} (millions of US$)'.format(data_gdp.max()))

Giá trị lớn nhất của GDP là 15094025 (millions of US$)

In [9]:
#Giá trị nhỏ nhất
print('Giá trị nhỏ nhất của GDP là {} (millions of US$)'.format(data_gdp.min()))

Giá trị nhỏ nhất của GDP là 10600 (millions of US$)

In [11]:
#Xu hướng phân bổ dữ liệu của GDP
data.describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [14]:
df_price.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [13]:
data_gdp.median()

96089.0

In [15]:
data_gdp.mean()

555427.784

In [16]:
data_gdp.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [19]:
if data_gdp.mean() == data_gdp.median():
    print('Dữ liệu có phân bố đối xứng (phân bố chuẩn)')
elif data_gdp.mean() > data_gdp.median():
    print('Dữ liệu có phân bố lệch phải')
else:
    print('Dữ liệu có phân bố lệch trái')

Dữ liệu có phân bố lệch phải

In [34]:
#Châu lục xuất hiện nhiều nhất
print('Châu lục xuất hiện nhiều nhất là: {}'.format(data['Continent'].mode()))

Châu lục xuất hiện nhiều nhất là: 0    Europe
Name: Continent, dtype: object

In [37]:
# Tính tổng GDP cho mỗi châu lục
total_gdp = data.groupby('Continent')['GDP (millions of US$)'].sum().reset_index()
total_gdp

       Continent  GDP (millions of US$)
0         Africa                1820811
1           Asia               24425891
2         Europe               19139380
3  North America               18238447
4        Oceania                1662727
5  South America                4141217

In [38]:
# Tính trung bình cộng GDP cho mỗi châu lục
average_gdp = data.groupby('Continent')['GDP (millions of US$)'].mean().reset_index()
average_gdp

       Continent  GDP (millions of US$)
0         Africa           6.278659e+04
1           Asia           6.784970e+05
2         Europe           5.172805e+05
3  North America           1.658041e+06
4        Oceania           5.542423e+05
5  South America           4.601352e+05

In [40]:
data1 = pd.merge(total_gdp, average_gdp, on='Continent')
data1

       Continent  GDP (millions of US$)_x  GDP (millions of US$)_y
0         Africa                  1820811             6.278659e+04
1           Asia                 24425891             6.784970e+05
2         Europe                 19139380             5.172805e+05
3  North America                 18238447             1.658041e+06
4        Oceania                  1662727             5.542423e+05
5  South America                  4141217             4.601352e+05

In [43]:
data1 = data1.rename(columns={'GDP (millions of US$)_x': 'Total GDP', 'GDP (millions of US$)_y': 'Average GDP'})
data1

       Continent  Total GDP   Average GDP
0         Africa    1820811  6.278659e+04
1           Asia   24425891  6.784970e+05
2         Europe   19139380  5.172805e+05
3  North America   18238447  1.658041e+06
4        Oceania    1662727  5.542423e+05
5  South America    4141217  4.601352e+05